@font-face{
    font-family:'Roboto Black';
    src:url('roboto/Roboto-Black.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Roboto Regular';
    src:url('roboto/Roboto-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Roboto Bold';
    src:url('roboto/Roboto-Bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Roboto Light';
    src:url('roboto/Roboto-Light.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Roboto Medium';
    src:url('roboto/Roboto-Medium.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
/* ======================================= */
@font-face{
    font-family:'Oswald Bold';
    src:url('oswald/Oswald-Bold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Oswald Regular';
    src:url('oswald/Oswald-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Oswald Medium';
    src:url('oswald/Oswald-Medium.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Oswald SemiBold';
    src:url('oswald/Oswald-SemiBold.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}